@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
